.dashboard .card1{
    margin-left: 10px;
}

.dashboard {
    background-color: #fafafa !important;
}

.dashboard .card{
    margin-right: 10px;
    height: auto;
    padding: 20px;
    margin-top: 10px;
    background-color: #fff !important;
}

.dashboard .card22{
    margin-right: 10px;
    height: auto;
    padding: 5px;
    margin-top: 10px;
    background-color: #fff !important;
}

.dashboard .iconCard{
    flex: 1;
    text-align: right;
}

.textCard{
}

.dashboard .iconCard{
    font-size: 30px;
}

.dashboard .MuiSvgIcon-root{
    font-size: 45px !important;
    color: silver;
}

.dashboard .card2{
    margin-left: 10px;
    margin-top: 13px;
}

.MuiPaper-root{
    border: 1px solid rgb(235, 228, 228);
}

.dashboard #AppIcon{
    font-size: 24px !important;
}