.dashboard .card1{
    margin-left: 10px;
}

.dashboard {
    background-color: #efefef !important;
}

.dashboard .card{
    margin-right: 10px;
    height: auto;
    padding: 20px;
    background-color: #fff !important;
}

.dashboard .iconCard{
    flex: 1;
    text-align: right;
}

.textCard{
}

.dashboard .iconCard{
    font-size: 30px;
}

.dashboard .MuiSvgIcon-root{
    font-size: 45px !important;
    color: silver;
}