.leftbar .text {
    align-items: center;
    margin-left: 7px;
}

.leftbar .icon {
    font-size: 14px;
}

.leftbar .menu {
    margin-bottom: 15px;
}

.leftbar #conatiner {
    width: 16.66666667%;
    background-color: rgb(99, 99, 224);
    color: #fff;
}

.leftbar a {
    color: #fff !important;
    text-decoration: none;
}

.leftbar .active{
    box-shadow: 1px 1px 1px red;
    padding: 2px
}