.leftbar .text {
    align-items: center;
    margin-left: 7px;
}

.leftbar .icon {
    font-size: 14px;
}

.leftbar #conatiner {
    width: 16.66666667%;
    background-color: #0071c0;
    color: #fff;
}

.leftbar a {
    color: #fff !important;
    text-decoration: none;
    margin-bottom: 4px;
}

.leftbar .active{
    background-color: whitesmoke !important;
    padding: 2px;
    color: #333 !important;
    border-right: 2px solid red;
    width:80%
}

.leftbar .subMenu{
    font-size: 14px;
    margin-left: 1.8rem;
}