.navbar .badgeRightt{
    border: 1px solid #726969;
    text-align: right !important;
    flex: 1 !important;
}

.navbar .logoMenu img{
    width: 40px;
    margin-right: 5px;
    margin-left: 10px;
}